#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen__channel,
.friends-screen__friends {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel__header,
.friends-screen__friends__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.nav__btn .user-solid {
  color: var(--blue);
}
