.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  padding-top: 40px;
  border-top: var(--main-border);
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.more-suggestions__icon__image {
  border-radius: 10px;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon__image img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.user-component__column .fa-message {
  color: var(--blue);
}
