.settings__setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting__column:last-child span {
  opacity: 0.5;
}
.settings__setting__column:last-child .country__image {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
