.alt-header {
  display: flex;
  padding: var(--horizontal-space);
  align-items: center;
  z-index: 1;
}

.alt-header__column__title {
  font-size: 24px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
