@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  /*background-color: var(--yellow);*/
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 92px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
  color: #fafafa;
}

#splash-screen span {
  font-size: 42px;
  font-weight: 600;
  position: relative;
}

#splash-screen .fa-comment {
  position: absolute;
  top: -24px;
  right: -48px;
}

.friends-screen__friends .user-component__column {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  color: black;
}
